<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neo</title>
</head>
<body>
    <h1>Wake up, Neo... This is server {{ state }} and ip is {{ ansible_all_ipv4_addresses }}</h1>>
</body>
</html>